# Hidden files in linux directory
linux/.*
linux/data
linux/logs
linux/results
linux/test.sh

# Sensitive files in container directory
container/config
container/authorized_keys
container/id_rsa_mobile 